<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/about.css'%}">
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="header">
                <a href="/">HOME</a>
                <a href="about/">ABOUT</a>
                <a href="register/">REGISTER</a>
                <a href="login/">LOGIN</a>
                <a href="">ADMISSION</a>
                <a href="">DISPLAY</a>
            </div>
            <div class="top-body" style="background-image: url({%static 'images/about.jpg'%})">
                <center>
                    <div class="top-mid">
                        <h1>S.N.M Higher Secondary School</h1>
                    </div>
                </center>
            </div>
        </div>
        <div class="mid">
            <center>
                <h1>About</h1>
                <p>Design templates are pre-made designs and documents that can be customized. Templates areoften designed to meet specific standards or specs so they're consistent between users and
                mediums. You can use pre-designed templates from template libraries and websites or create
                custom templates for future use.</p>
            </center>
            <div class="inner-mid">
                <div class="pro-div">
                    <img src="{%static 'images/class.jpg'%}" alt="">
                    <center><p>Design templates are pre-made designs and documents that can be customized. Templates are
                    often designed to meet specific standards or specs so they're consistent between users and
                    mediums. You can use pre-designed templates from template libraries and websites or create
                    custom templates for future use.</p></center><br>
                </div>
                <div class="pro-div">
                    <img src="{%static 'images/lib.jpg'%}" alt="">
                    <center><p>Design templates are pre-made designs and documents that can be customized. Templates are
                    often designed to meet specific standards or specs so they're consistent between users and
                    mediums. You can use pre-designed templates from template libraries and websites or create
                    custom templates for future use.</p></center><br>
                </div>
                <div class="pro-div">
                    <img src="{%static 'images/lab.jpg'%}" alt="">
                    <center><p>Design templates are pre-made designs and documents that can be customized. Templates are
                    often designed to meet specific standards or specs so they're consistent between users and
                    mediums. You can use pre-designed templates from template libraries and websites or create
                    custom templates for future use.</p></center><br>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="contact">
                <h2>Contact : +91 123345677</h2><br>
                <h2>E-mail : nrkprincipall123@gmail.com</h2><br><br>
            </div>
            <div class="msg">
                <form action="">
                <h2>Comments:</h2><br>
                <input type="text" placeholder="Leave your message here"><br><br>
                <button>Send</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>