<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{%static 'css/about1.css'%}">
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="header">
                <a href="/">HOME</a>
                <a href=" ">ABOUT</a>
                
                {% if user.is_staff or user.is_superuser %}
                <a href="/">{{user.username}}</a>
                <a href="/logout/">LOGOUT</a>
                <a href="/admission/">ADMISSION</a>
                <a href="/list/">DISPLAY</a>
                {% elif user.is_authenticated %}
                <a href=" ">{{user.username}}</a>
                <a href="/logout/">LOGOUT</a>
                {%else%}
                <a href="/login/">LOGIN</a>
                <a href="/register/">REGISTER</a>
                {%endif%}

            </div>
            <div class="top-body" style="background-image: url({%static 'images/about.jpg'%})">
                <center>
                    <div class="top-mid">
                        <h1>S.N.M Higher Secondary School</h1>
                    </div>
                </center>
            </div>
        </div>
        <div class="mid">
            <center>
                <h1>About</h1>
                <p>S.N.M Higher Secondary School wass established in 1999 in Thiruvananthapuram District, Kerala.
                    The Goal of this institute is to provide basic higher studies basics required for all students;
                    which include Science (Physics, Chemisty, Biology, Computer Science), Commerce and Humanities.  </p>
            </center>
            <div class="inner-mid">
                <div class="pro-div">
                    <img src="{%static 'images/emblem.jpg'%}" alt="">
                    <center><p>Higher secondary is also known as Senior Secondary in some places. It refers to the education imparted in the eleventh and twelfth standard in schools.
                        The schools which provide education up to these classes are known as Higher secondary schools.
                        A higher level of education is important for further studies and for getting admission to top colleges.
                        In India, various boards like CBSE, ICSE, and other state boards conduct the Higher secondary school examination.</p></center><br>
                </div>
            <div class="inner-mid">
                <div class="pro-div">
                    <img src="{%static 'images/class.jpg'%}" alt="">
                    <center><p>A classroom or schoolroom is a learning space in which both children and adults learn.
                        Classrooms are found in educational institutions of all kinds, ranging from preschools to universities, and may also be found in other places where education or training is provided, such as corporations and religious and humanitarian organizations.
                        The classroom provides a space where learning can take place uninterrupted by outside distractions.</p></center><br>
                </div>
                <div class="pro-div">
                    <img src="{%static 'images/lib.jpg'%}" alt="">
                    <center><p>A school library (or a school library media center) is a library within a school where students, staff, and often, parents of a public or private school have access to a variety of resources.
                        The goal of the school library media center is to ensure that all members of the school community have equitable access "to books and reading, to information, and to information technology.</p></center><br>
                </div>
                <div class="pro-div">
                    <img src="{%static 'images/lab.jpg'%}" alt="">
                    <center><p>A computer lab is a space where computer services are provided to a defined community.
                        These are typically public libraries and academic institutions.
                        Generally, users must follow a certain user policy to retain access to the computers.
                        This usually consists of rules such as no illegal activity during use or attempts to circumvent any security or content-control software while using the computers.</p></center><br>
                </div>
            </div>
        </div>
    </div>
        <div class="footer">
            <div class="contact">
                <h2>Contact : +91 123345677</h2><br>
                <h2>E-mail : nrkprincipal123@gmail.com</h2><br><br>
            </div>
            <div class="msg">
                {% if user.is_superuser %}
                <h2>Logged in as:</h2><br>
                <h3>{{user.username}}</h3>
                <h3>{{user.email}}</h3>
                {% elif user.is_authenticated %}
                    <h2>Enquire:</h2><br>
                    <form action="{%url 'aboutpage'%}">
                        <input type="text" placeholder="Leave your message here" name="enquirea" required><br><br>
                        <button type="submit">Send</button>
                    </form>
                {% else %}
                    <h2>Comments:</h2><br>
                    <form action="{%url 'aboutpage'%}">
                        <input type="text" placeholder="Leave your message here" name="commenta" required><br><br>
                        <button type="submit">Send</button>
                    </form>
                {% endif %}
            </div>
        </div>
</body>
</html>