<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link rel="stylesheet" href="{%static 'css/list.css'%}">
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="header">
                <a href="/">HOME</a>
        <a href="/about/">ABOUT</a>
            {% if user.is_staff or user.is_superuser %}
            <a href="/">{{user.username}}</a>
            <a href="/logout/">LOGOUT</a>
            <a href="/admission/">ADMISSION</a>
            <a href="/list/">DISPLAY</a>
            {%endif%}
            </div>
            <div class="top-body" style="background-image: url({%static 'images/about.jpg'%})">
                <center>
                    <div class="top-mid">
                        <h1>S.N.M Higher Secondary School</h1>
                    </div>
                </center>
            </div>
        </div>
        <div class="mid">
            <center>
                <h1 id="pageheader">List of All students</h1>
                <button onclick="showtable('a')" class="btnstdntfltr" id="btn-fltr-first">All </button>
                <button onclick="showtable('c')" class="btnstdntfltr">Commerce </button>
                <button onclick="showtable('s')" class="btnstdntfltr">Science </button>
                <button onclick="showtable('h')" class="btnstdntfltr">Humanities </button>
            </center>
    
                <table class="student-table" id="alldata">
                    <tr>
                        <th><b>Admission No.</b></th>
                        <th><b>Name</b></th>
                        <th><b>Age</b></th>
                        <th><b>Place</b></th>
                        <th><b>Subject</b></th>
                        <th><b>Guardian name</b></th>
                        <th><b>Date of Birth</b></th>
                        <th><b>Contact No.</b></th>
                        <th><b>E-mail</b></th>
                    </tr>
                    {% for i in alldata  %}
                    <tr>
                        <td>{{i.ad_no}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.place}}</td>
                        <td>{{i.subject}}</td>
                        <td>{{i.gname}}</td>
                        <td>{{i.dob}}</td>
                        <td>{{i.contact}}</td>
                        <td>{{i.email}}</td>
                    </tr>
                    {% endfor %}
                </table>
            
                <table class="student-table" id="c_stud">
                    <tr>
                        <th><b>Admission No.</b></th>
                        <th><b>Name</b></th>
                        <th><b>Age</b></th>
                        <th><b>Place</b></th>
                        <th><b>Subject</b></th>
                        <th><b>Guardian name</b></th>
                        <th><b>Date of Birth</b></th>
                        <th><b>Contact No.</b></th>
                        <th><b>E-mail</b></th>
                    </tr>
                    {% for i in c_stud  %}
                    <tr>
                        <td>{{i.ad_no}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.place}}</td>
                        <td>{{i.subject}}</td>
                        <td>{{i.gname}}</td>
                        <td>{{i.dob}}</td>
                        <td>{{i.contact}}</td>
                        <td>{{i.email}}</td>
                    </tr>
                    {% endfor %}
                </table>

                <table class="student-table" id="h_stud">
                    <tr>
                        <th><b>Admission No.</b></th>
                        <th><b>Name</b></th>
                        <th><b>Age</b></th>
                        <th><b>Place</b></th>
                        <th><b>Subject</b></th>
                        <th><b>Guardian name</b></th>
                        <th><b>Date of Birth</b></th>
                        <th><b>Contact No.</b></th>
                        <th><b>E-mail</b></th>
                    </tr>
                    {% for i in h_stud  %}
                    <tr>
                        <td>{{i.ad_no}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.place}}</td>
                        <td>{{i.subject}}</td>
                        <td>{{i.gname}}</td>
                        <td>{{i.dob}}</td>
                        <td>{{i.contact}}</td>
                        <td>{{i.email}}</td>
                    </tr>
                    {% endfor %}
                </table>

                <table class="student-table" id="s_stud">
                    <tr>
                        <th><b>Admission No.</b></th>
                        <th><b>Name</b></th>
                        <th><b>Age</b></th>
                        <th><b>Place</b></th>
                        <th><b>Subject</b></th>
                        <th><b>Guardian name</b></th>
                        <th><b>Date of Birth</b></th>
                        <th><b>Contact No.</b></th>
                        <th><b>E-mail</b></th>
                    </tr>
                    {% for i in s_stud  %}
                    <tr>
                        <td>{{i.ad_no}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.age}}</td>
                        <td>{{i.place}}</td>
                        <td>{{i.subject}}</td>
                        <td>{{i.gname}}</td>
                        <td>{{i.dob}}</td>
                        <td>{{i.contact}}</td>
                        <td>{{i.email}}</td>
                    </tr>
                    {% endfor %}
                </table>
        <div class="footer">
            <div class="contact">
                <p>Contact : +91 123345677;&nbsp;&nbsp; E-mail : nrkprincipal123@gmail.com</p>
            </div>
        </div>
    </div>
    </div>
    <script>
        var pageheader = document.getElementById("pageheader")
        var all_stud = document.getElementById("alldata")
        var c_stud = document.getElementById("c_stud")
        var s_stud = document.getElementById("s_stud")
        var h_stud = document.getElementById("h_stud")

        c_stud.style.display = "none"
        s_stud.style.display = "none"
        h_stud.style.display = "none"

        function showtable(x){
            switch(x){
                case 'a':
                    pageheader.innerHTML = "List of All students"
                    all_stud.style.display = "block"
                    c_stud.style.display = "none"
                    s_stud.style.display = "none"
                    h_stud.style.display = "none"
                    break;
                case 'c':
                    pageheader.innerHTML = "List of all Commerce students"
                    all_stud.style.display = "none"
                    c_stud.style.display = "block"
                    s_stud.style.display = "none"
                    h_stud.style.display = "none"
                    break;
                case 's':
                    pageheader.innerHTML = "List of all Science students"
                    all_stud.style.display = "none"
                    c_stud.style.display = "none"
                    s_stud.style.display = "block"
                    h_stud.style.display = "none"
                    break;
                case 'h':
                    pageheader.innerHTML = "List of all Humanites students"
                    all_stud.style.display = "none"
                    c_stud.style.display = "none"
                    s_stud.style.display = "none"
                    h_stud.style.display = "block"
                    break;
            }
        }
    </script>
</body>
</html>